*.mo
tags
tags.python
plone.env
.minitage
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.project
.pydevproject
.svn
*.pyc
*.pyo
*.tmp*
var
sys
